@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family:"JetBrains Mono", sans-serif;
    background-color: rgb(231, 230, 228);
}

header{
    height:300px;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #ff512f, #dd2476);
    box-shadow: 0px 3px 3px 0px #311220;
}

header h1 {
    text-align: center;
    padding: 1rem;
    font-size: 68px;
    color: aliceblue;
    text-decoration: underline;
    text-shadow: 2px 2px 1px #311220;
    text-transform: capitalize;
}

header h1:hover{
  transform: rotateX(180deg);
  transition: 1s ease-in-out;
}

header p {
    text-align: center;
    text-indent: 50%;
    font-style: italic;
    color: white;
}

.mirror{
    transform: rotateX(180deg);
    opacity: 0.45;
}


header nav ul li {
    float:left;
    list-style-type: none;
    padding: 8px 12px;
    background-color: yellow;
    margin-left:1rem;
}

header nav ul li:hover{
    cursor: pointer;
    transform: skew(10deg);
    background-color: black;
    color: yellow;
    
}

@keyframes rotateLogo {

   from {
    transform: rotate(0deg);
   }
   to{
    transform: rotate(360deg);
   }

}

#logo{
    margin: 0 auto;
}

.logo{
    width: 50px;
    border-radius: 50%;
    border: 2px solid brown;
    box-shadow: 0px 3px 3px 0px rgb(73, 43, 43);
    animation:rotateLogo 4s linear infinite;
}

main p {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(229, 222, 209);
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: lowercase;
}

footer{
    width: 90%;
    margin:0 auto;
    padding: 1rem;
    background-color: #444;

}

footer p{
    text-transform: uppercase;
    color: white;
    text-align: center;
}

